:root {
  --primary: #1e1e1e;
  --secondary: #f9f9f9;
  --tertiary: #cccccc;
  --accent: #0075ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-color: var(--primary);
  color: var(--secondary);
  width: fit-content;
  min-width: 200px;
  white-space: nowrap;
}

button{
  background-color: var(--secondary);
  border: none;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  color: var(--primary);
  cursor: pointer;
}

.slider {
  display: flex;
  padding: 0.5rem 0;
}

.slider label {
  margin-right: auto;
}

.slider input {
  margin: 0 0.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

a {
  color: var(--secondary);
  width: fit-content;
}